[MESSAGES CONTROL]
disable=broad-exception-caught,
        too-many-instance-attributes,
        too-many-public-methods,
        too-many-arguments,
        too-many-positional-arguments,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        too-many-return-statements,
        missing-function-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        consider-using-with,
        consider-using-in,
        raise-missing-from,
        f-string-without-interpolation,
        unspecified-encoding,
        unnecessary-lambda,
        superfluous-parens,
        deprecated-module,
        too-few-public-methods,
        consider-using-dict-items,
        unused-variable,
        unused-argument,
        unused-import,
        global-statement,
        protected-access,
        reimported,
        wrong-import-position,
        line-too-long,
        subprocess-run-check,
        unnecessary-pass,
        invalid-name,
        import-error,
        duplicate-code,
        disallowed-name,
        wrong-import-order,
        too-many-nested-blocks,
        redefined-outer-name,
